<h1>{{title}}</h1>

<div>
    <label>Número 1 :
        <input placeholder="Ingrese el primer número" type="number" [(ngModel)]="number1" class="form-control">
    </label>
</div>

<div>
    <label>Número 2 :
        <input placeholder="Ingrese el segundo número" type="number" [(ngModel)]="number2" class="form-control">
    </label>
</div>

<div>
    <button  type="button" class="btn btn-primary" (click)="Sumar()">+</button>
    <button  type="button" class="btn btn-danger" (click)="Restar()">-</button>
    <button  type="button" class="btn btn-success"(click)="Multiplicar()">*</button>
    <button  type="button" class="btn btn-warning"(click)="Dividir()">/</button> 
</div>

<div>
    <label>Resultado : {{resultado}}</label>
</div>
